---
---
@import "main";

@font-face {
    font-family: felix-titling;
    src: url(/assets/fonts/Felixti.TTF);
}

title, h1, h2, h3, h4, h5{
    font-family: felix-titling, 'Times New Roman', Times, serif;
    color: #959494;
    font-weight: normal;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

a {
    color: #fd0000
}

table, th, td {
    border: 2px solid #959494;
  }
    
table.center {
    margin-left: auto; 
    margin-right: auto;
}

.heroImage{
    background-image: url("/assets/images/posts/Intro.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

.heroTextBox {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    -webkit-mask-image: linear-gradient(to top, white 70%, transparent 100%);
    mask-image: linear-gradient(to top, white 70%, transparent 100%);
    -webkit-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    -ms-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.podcastHeader {
    background: linear-gradient(to top, #ff85c7, #fff);
    width: 100%;
}

.podcastHeaderTextBox {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
}

.podcastThumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-container {
    margin: -8px;
    padding-left: 100px;
    overflow: hidden;
    background: linear-gradient(-45deg, #fd0000 20%, #ffd200 20%);
}

.bottom-container {
    margin: -8px;
    padding-left: 100px;
    overflow: hidden;
    background: linear-gradient(-45deg, #fd0000 80%, #ffd200 80%);
}

.header {
    z-index:1000;
    margin: -8px;
    padding-left: 100px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    -ms-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.content {
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

@media (max-width: 1100px) {
    .top-container {
        padding: 5px;
    }
    .header {
        padding: 5px;
    }
    .content {
        padding: 5px;
    }
    .flexContainer {
        justify-content: center
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 50px;
}

.avatar{
    position: relative;
    z-index: 2;
}

.avatarBG {
    position: absolute;
    transform: scale(1.05);
    opacity: 1;
    z-index: 1;
    filter: blur(15px);
}

.social {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #ddd;
}

.authorBox {
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    -webkit-animation: ellipsis steps(1000,end) 2000ms infinite;      
    animation: ellipsis steps(1000,end) 2000ms infinite;
    content: "\2026";
    width: 0px;
}

.blogList {
    min-height: 175px;
}

@keyframes ellipsis {
    to {
        width: 5px;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 50px;    
    }
}

.menuButton {
    background-color: rgba(149, 148, 148, 0.25);
    border: none;
    color: black;
    padding: 10px;
    justify-content: space-evenly;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px
}

.flexContainer {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}