---
layout: default
---
<h1>{{ page.title }}</h1>

<p>
  {{ page.date | date_to_string }} | Written by: 
  {% assign authorCount = page.authors | size %}
    {% if authorCount == 0 %}
        No author
    {% elsif authorCount == 1 %}
    <a href="/authors/{{ page.authors | first }}">{{ page.authors | first }}</a>
        {% else %}
            {% for author in page.authors %}
                {% if forloop.first %}
                    <a href="/authors/{{ author }}">{{ author }}</a>
                {% elsif forloop.last %}
                    and <a href="/authors/{{ author }}">{{ author }}</a>
                {% else %}
                    , <a href="/authors/{{ author }}">{{ author }}</a>
        {% endif %}
    {% endfor %}
{% endif %} | Categorised as: 
{% assign categoryCount = page.categories | size %}
    {% if categoryCount == 0 %}
        Nothing
    {% elsif categoryCount == 1 %}
    <a href="/category/{{ page.categories | first  | downcase }}">{{ page.categories | first }}</a>
        {% else %}
            {% for category in page.categories %}
                {% if forloop.first %}
                    <a href="/category/{{ category | downcase }}">{{ category }}</a>
                {% elsif forloop.last %}
                    and <a href="/category/{{ category | downcase }}">{{ category }}</a>
                {% else %}
                    , <a href="/category/{{ category | downcase }}">{{ category }}</a>
        {% endif %}
    {% endfor %}
{% endif %} | Tagged with:
{% assign tagCount = page.tags | size %}
    {% if tagCount == 0 %}
        No tags
    {% elsif tagCount == 1 %}
    <a href="/tag/#{{ page.tags | first }}">{{ page.tags | first }}</a>
        {% else %}
            {% for tag in page.tags %}
                {% if forloop.first %}
                    <a href="/tag/#{{ tag }}">{{ tag }}</a>
                {% elsif forloop.last %}
                    and <a href="/tag/#{{ tag  }}">{{ tag }}</a>
                {% else %}
                    , <a href="/tag/#{{ tag  }}">{{ tag }}</a>
        {% endif %}
    {% endfor %}
{% endif %}
</p>

{{ content }}